.idea
node_modules
vendor

/public/storage
/public/upload
/public/static

.env
.env.backup
yarn.lock
composer.lock
package-lock.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.DS_Store
